In [12]:
import numpy as np
import pandas as pd
from sklearn.cluster import DBSCAN
from sklearn import metrics
from sklearn.preprocessing import StandardScaler

-- https://archive.ics.uci.edu/ml/datasets/GPS+Trajectories

In [13]:
data = pd.read_csv('go_track_trackspoints.csv')

In [14]:
data.describe()

                 id      latitude     longitude      track_id
count  18107.000000  18107.000000  18107.000000  18107.000000
mean    9958.405920    -10.998744    -37.111923  13296.340697
std     5748.673657      1.329848      0.938015  18040.767448
min        1.000000    -27.603175    -48.632918      1.000000
25%     4736.500000    -10.944041    -37.073069     33.000000
50%    10376.000000    -10.922000    -37.057784    136.000000
75%    15004.500000    -10.904268    -37.050190  37992.000000
max    19569.000000    -10.292845    -36.493357  38092.000000

In [31]:
columns = ['id', 'track_id', 'time']
x = pd.DataFrame(data.drop(data[columns], axis=1))

In [34]:
print(x.columns)
x['latitude'] = x['latitude'].astype(float)
x['longitude'] = x['longitude'].astype(float)

Index([u'latitude', u'longitude'], dtype='object')

In [40]:
db = DBSCAN(eps=0.005,min_samples=2)
db.fit_predict(x)

array([0, 0, 0, ..., 0, 0, 0])

In [55]:
labels = db.labels_

In [56]:
n_clusters_ = len(set(labels)) - (1 if -1 in labels else 0)
n_clusters_

10

In [57]:
print('Estimated number of clusters: %d' % n_clusters_)

Estimated number of clusters: 10

In [61]:
clusters = [x[labels == i] for i in xrange(n_clusters_)]

In [62]:
clusters

[        latitude  longitude
 0     -10.939341 -37.062742
 1     -10.939341 -37.062742
 2     -10.939324 -37.062765
 3     -10.939211 -37.062843
 4     -10.938939 -37.062879
 5     -10.938544 -37.062839
 6     -10.938346 -37.062588
 7     -10.938448 -37.062000
 8     -10.938666 -37.061499
 9     -10.938986 -37.060819
 10    -10.939343 -37.060087
 11    -10.939641 -37.059503
 12    -10.939858 -37.059121
 13    -10.940077 -37.058729
 14    -10.940389 -37.058291
 15    -10.940746 -37.057992
 16    -10.941179 -37.057640
 17    -10.941480 -37.057391
 18    -10.941533 -37.057346
 19    -10.941533 -37.057346
 20    -10.941533 -37.057346
 21    -10.941533 -37.057346
 22    -10.941533 -37.057346
 23    -10.941533 -37.057346
 24    -10.941533 -37.057346
 25    -10.941533 -37.057346
 26    -10.941542 -37.057338
 27    -10.941742 -37.057166
 28    -10.942100 -37.056833
 29    -10.942444 -37.056551
 ...          ...        ...
 18075 -10.942343 -37.079387
 18076 -10.941996 -37.079738
 18077 -10.941897 -37.079848
 18078 -10.942058 -37.080538
 18079 -10.942259 -37.081235
 18080 -10.942421 -37.081785
 18081 -10.942502 -37.082101
 18082 -10.942616 -37.082494
 18083 -10.942873 -37.083517
 18084 -10.943079 -37.084254
 18085 -10.943389 -37.085525
 18086 -10.943441 -37.085736
 18087 -10.943516 -37.085992
 18088 -10.943678 -37.086675
 18089 -10.943970 -37.087313
 18090 -10.944238 -37.087905
 18091 -10.944160 -37.088702
 18092 -10.943978 -37.089421
 18093 -10.943601 -37.089233
 18094 -10.943469 -37.089071
 18095 -10.943469 -37.089071
 18096 -10.933523 -37.078923
 18097 -10.933398 -37.078873
 18098 -10.933398 -37.078873
 18099 -10.933398 -37.078873
 18102 -10.923722 -37.106579
 18103 -10.923704 -37.106693
 18104 -10.923715 -37.106688
 18105 -10.923715 -37.106688
 18106 -10.923716 -37.106688

 [16616 rows x 2 columns],       latitude  longitude
 375 -10.934852 -37.114376
 376 -10.934920 -37.114357
 377 -10.934906 -37.114360,         latitude  longitude
 3171  -10.457155 -36.493357
 3172  -10.457082 -36.493867
 3173  -10.457019 -36.494311
 3174  -10.456960 -36.494881
 3175  -10.456905 -36.495375
 3176  -10.456718 -36.495928
 3177  -10.456322 -36.496161
 3178  -10.455720 -36.496109
 3179  -10.455233 -36.495792
 3180  -10.454768 -36.495732
 3181  -10.454169 -36.495945
 3182  -10.453726 -36.496240
 3183  -10.453295 -36.496534
 3184  -10.452869 -36.496805
 3185  -10.452392 -36.497112
 3186  -10.451989 -36.497353
 3187  -10.451500 -36.497590
 3188  -10.451025 -36.497818
 3189  -10.450600 -36.497994
 3190  -10.450043 -36.498123
 3191  -10.449569 -36.498147
 3192  -10.449026 -36.498134
 3193  -10.448499 -36.498139
 3194  -10.448051 -36.498122
 3195  -10.447507 -36.498082
 3196  -10.447038 -36.498031
 3197  -10.446476 -36.497944
 3198  -10.445917 -36.497848
 3199  -10.445454 -36.497768
 3200  -10.444858 -36.497668
 ...          ...        ...
 4435  -10.384662 -36.876036
 4436  -10.384702 -36.876477
 4437  -10.384755 -36.877190
 4438  -10.384816 -36.877976
 4439  -10.384881 -36.878638
 4440  -10.384960 -36.879491
 4441  -10.385046 -36.880377
 4442  -10.385112 -36.881138
 4443  -10.385191 -36.882067
 4444  -10.385261 -36.882857
 4445  -10.385338 -36.883789
 4446  -10.385427 -36.884687
 4447  -10.385477 -36.885435
 4448  -10.385560 -36.886364
 4449  -10.385637 -36.887177
 4450  -10.385708 -36.888176
 4451  -10.385809 -36.889178
 4452  -10.385890 -36.890122
 4453  -10.385962 -36.891022
 4454  -10.386028 -36.891732
 4455  -10.386085 -36.892390
 4456  -10.386131 -36.893067
 4457  -10.386184 -36.893740
 4458  -10.386216 -36.894304
 4459  -10.386260 -36.894599
 4460  -10.386286 -36.894923
 4461  -10.386321 -36.895327
 4462  -10.386391 -36.895854
 16919 -10.379576 -36.850308
 16920 -10.379566 -36.850247

 [1294 rows x 2 columns],        latitude  longitude
 7110 -10.990134 -37.535886
 7111 -10.991005 -37.534048
 7112 -10.992293 -37.532116,        latitude  longitude
 7113 -27.603171 -48.516415
 7114 -27.603167 -48.516419
 7115 -27.603165 -48.516419
 7116 -27.603163 -48.516420
 7117 -27.603172 -48.516406
 7118 -27.603172 -48.516406
 7119 -27.603172 -48.516406
 7120 -27.603175 -48.516397,        latitude  longitude
 7121 -27.344830 -48.631810
 7122 -27.344830 -48.631810
 7123 -27.343851 -48.630882
 7124 -27.343851 -48.630882
 7125 -27.343148 -48.630078
 7126 -27.343148 -48.630078
 7127 -27.342362 -48.629106
 7128 -27.342362 -48.629106
 7129 -27.341688 -48.628299
 7130 -27.341688 -48.628299
 7131 -27.340961 -48.627548
 7132 -27.340961 -48.627548
 7133 -27.339874 -48.627114
 7134 -27.339874 -48.627114
 7135 -27.338880 -48.627093
 7136 -27.338880 -48.627093
 7137 -27.337850 -48.627079
 7138 -27.337850 -48.627079
 7139 -27.336944 -48.627042
 7140 -27.336944 -48.627042
 7141 -27.335718 -48.626922
 7142 -27.335718 -48.626922
 7143 -27.334612 -48.626873
 7144 -27.334612 -48.626873
 7145 -27.333212 -48.626914
 7146 -27.333212 -48.626914
 7147 -27.332093 -48.626849
 7148 -27.332093 -48.626849
 7149 -27.330714 -48.626765
 7150 -27.330714 -48.626765
 ...         ...        ...
 7201 -27.299161 -48.631669
 7202 -27.299161 -48.631669
 7203 -27.298060 -48.631517
 7204 -27.298060 -48.631517
 7205 -27.296812 -48.631382
 7206 -27.296812 -48.631382
 7207 -27.295576 -48.631224
 7208 -27.295576 -48.631224
 7209 -27.294432 -48.631098
 7210 -27.294432 -48.631098
 7211 -27.293683 -48.631007
 7212 -27.293683 -48.631007
 7213 -27.292841 -48.630975
 7214 -27.291873 -48.630871
 7215 -27.292841 -48.630975
 7216 -27.290805 -48.630729
 7217 -27.291873 -48.630871
 7218 -27.290805 -48.630729
 7219 -27.289660 -48.630763
 7220 -27.289660 -48.630763
 7221 -27.288406 -48.630813
 7222 -27.288406 -48.630813
 7223 -27.287346 -48.630852
 7224 -27.287346 -48.630852
 7225 -27.286225 -48.630896
 7226 -27.286225 -48.630896
 7227 -27.285048 -48.630957
 7228 -27.285048 -48.630957
 7229 -27.283674 -48.631026
 7230 -27.283674 -48.631026

 [110 rows x 2 columns],         latitude  longitude
 14484 -10.880979 -36.998100
 14485 -10.880894 -36.998211
 14486 -10.880892 -36.998213
 14487 -10.880855 -36.998244
 14488 -10.880855 -36.998235
 14489 -10.880854 -36.998235
 14490 -10.880853 -36.998236
 14491 -10.880855 -36.998236
 14492 -10.880858 -36.998237
 14493 -10.880860 -36.998238
 14494 -10.880860 -36.998238
 14495 -10.880860 -36.998237
 14496 -10.880860 -36.998238
 14497 -10.880860 -36.998238
 14498 -10.880860 -36.998239
 14499 -10.880860 -36.998240
 14500 -10.880860 -36.998241
 14501 -10.880859 -36.998241
 14502 -10.880859 -36.998242
 14503 -10.880858 -36.998244
 14504 -10.880857 -36.998244
 14505 -10.880995 -36.998710
 14506 -10.881657 -36.999493
 14507 -10.882262 -37.000191
 14508 -10.882598 -37.000612
 14509 -10.882995 -37.001090
 14510 -10.883565 -37.001611
 14511 -10.884628 -37.002416
 14512 -10.885807 -37.003228
 14513 -10.887366 -37.004284
 14514 -10.888213 -37.004908
 14515 -10.889084 -37.005690
 14516 -10.889503 -37.006051
 14517 -10.889767 -37.006282
 14518 -10.890172 -37.006711
 14519 -10.890837 -37.007571
 14520 -10.891540 -37.008702
 14521 -10.892041 -37.009429
 14522 -10.892693 -37.010267
 14523 -10.893558 -37.011424,         latitude  longitude
 16100 -10.292845 -36.606311
 16101 -10.292871 -36.606316
 16102 -10.292859 -36.606311
 16103 -10.292863 -36.606312
 16104 -10.292867 -36.606315,         latitude  longitude
 17041 -10.834856 -37.068330
 17042 -10.834855 -37.068332
 17043 -10.834675 -37.067969
 17044 -10.834674 -37.067879
 17045 -10.834696 -37.067884
 17046 -10.834711 -37.067876
 17047 -10.834662 -37.067840
 17048 -10.834576 -37.067728
 17049 -10.834572 -37.067716
 17050 -10.834578 -37.067722
 17051 -10.834586 -37.067714
 17052 -10.834595 -37.067704
 17053 -10.834597 -37.067701
 17054 -10.834593 -37.067702
 17055 -10.834613 -37.067699
 17056 -10.834628 -37.067672
 17057 -10.834635 -37.067612
 17058 -10.834640 -37.067568
 17059 -10.834650 -37.067491
 17060 -10.834661 -37.067446
 17061 -10.834663 -37.067456
 17062 -10.834659 -37.067524
 17063 -10.834672 -37.067543
 17064 -10.834688 -37.067529
 17065 -10.834487 -37.067273
 17066 -10.834498 -37.067246,        latitude  longitude
 18100 -10.86945 -37.095276
 18101 -10.86945 -37.095276]

In [63]:
outliers = x[labels == -1]

In [64]:
outliers

Empty DataFrame
Columns: [latitude, longitude]
Index: []